<!DOCTYPE html>
<html lang="ja">
<head>
</head>
<body>
<form action="/app/organization/" method="POST">

<input type="text" name="organizationName" placeholder="organizationName">
<input type="text" name="place" placeholder="place">
<input type="email" name="email" placeholder="email">
<input type="submit" value="submit!">

</form>
</body>
</html>