<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Archery | 得点表一覧</title>
<link rel="shortcut icon" href="favicon.ico">
<link type="text/css" rel="stylesheet" href="/stylesheets/jquery.mobile-1.4.5.min.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/scoreCardIndex.css"/>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/jquery-1.11.2.min.js"></script>
<script src="/javascripts/functions.js"></script>
<script src="/javascripts/scoreCardIndex.js"></script>
<script src="/javascripts/insertScoreCard.js"></script>
<script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<!-- ページ領域 -->
<div data-role="page" data-title="Archery | 得点表一覧">
  <!-- popup -->
  <div id="insertMatch" data-role="popup" data-theme="a" data-overlay-theme="b" class="ui-content">
    <div data-role="fieldcontain">
        <label for="textinput">Email :</label>
        <input name="email" type="email" id="emailinput" placeholder="Example@gmail.com">
    </div>
    <div data-role="fieldcontain">
      <label for="passwordinput">パスワード :</label>
      <input type="password" name="password" id="passwordinput" placeholder="Password">
    </div>
    <a href="#" data-icon="carat-r" data-iconpos="right" data-rel="back" class="ui-btn" onclick="insertScoreCard()">追加</a>
  </div>
  <!-- //popup -->
  <!-- header -->
  <div data-role="header" data-theme="b">
    <a href="#insertMatch" data-rel="popup" data-position-to="window" data-transition="fade" class="ui-btn ui-btn-a ui-btn-left">得点表追加</a>
    <h1>Archery</h1>
  </div>
  <!-- //header --> 
  <!-- main -->
  <div id="main" data-role="main" data-role="content" class="ui-content">
  <ul id="list" data-role="listview" class="ui-li-icon ui-icon-carat-r">
    <li id="index" data-role="list-divider">
      <table>
        <thead>
          <tr>
            <th>選手名</th>
            <th>現在のセット数</th>
            <th>総得点</th>
          </tr>
        </thead>
      </table>
    </li>
  </ul>
</div>
<!-- //main --> 

<!-- footer -->
<div id="footer" data-role="footer" data-theme="a" style="text-align:center;">
  <p>Copyright 2015 IRC. All Rights Reserved.</p>
</div>
<!-- //footer -->
</div>
<!-- //ページ領域 -->
</body>
</html>