<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Archery | 得点表</title>
<link rel="shortcut icon" href="favicon.ico">
<link type="text/css" rel="stylesheet" href="/stylesheets/jquery.mobile-1.4.5.min.css" />
<link type="text/css" rel="stylesheet" href="/stylesheets/scorebook.css"/>
<script type="text/javascript" src="/javascripts/functions.js"></script>    
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/javascripts/scoreCard.js"></script>
<script type="text/javascript" src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<!-- ページ領域 -->
<div data-role="page" data-title="Archery | 得点表"> 
  <!-- menu -->
  <div id="panel" data-role="panel" data-position="right">
    <button id="imeflg" onClick="imeFind()">入力機能OFF</button>
    <a href="#" data-rel="close" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-left">閉じる</a> </div>
  <!-- //menu --> 
  <!-- header -->
  <div data-role="header" data-theme="b">
    <h1>Archery</h1>
    <a href="#panel" data-icon="bullets" class="ui-btn ui-btn-right ui-icon-bullets ui-btn-icon-notext"></a> </div>
  <!-- //header --> 
  <!-- main -->
  <div id="main" role="main" data-role="content" class="ui-content">
    <h2 id="player">選手名</h2>
    <!-- 点数表（合計） -->
    <div id="totalpoint"> 
      <!-- スコア表をデザインするためにtableタグで作成する -->
      <table data-role="table" data-mode="columntoggle" class="ui-responsive table-stroke tbl">
        <tbody>
          <tr>
            <th>1回目</th>
            <th>2回目</th>
            <th>3回目</th>
            <th>4回目</th>
            <th>5回目</th>
            <th>6回目</th>
            <th>合計</th>
          </tr>
          <tr>
            <td id="totalPoint_1">0</td>
            <td id="totalPoint_2">0</td>
            <td id="totalPoint_3">0</td>
            <td id="totalPoint_4">0</td>
            <td id="totalPoint_5">0</td>
            <td id="totalPoint_6">0</td>
            <td id="totalPoint_sum">0</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th>10数</th>
            <th>X数</th>
            <th></th>
            <th></th>
            <th></th><th></th>
            <th>距離</th>
          </tr>
          <tr>
            <td id="totalPoint_10">0</td>
            <td id="totalPoint_X">0</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="mator"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- 点数表（各回ごと） -->
    <div class="point">
      <table data-role="table" data-mode="columntoggle" class="ui-table ui-responsive table-stroke tbl">
        <thead>
          <tr class="border_not">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody class="score">
          <tr>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tbody class="revise_score">
          <tr>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <!-- IME部分 -->
    <div id="ime">
      <ul>
        <li id="x" class="number">X</li>
        <li id="10" class="number">10</li>
        <li id="9" class="number">9</li>
        <li id="8" class="number">8</li>
        <li id="7" class="number">7</li>
        <li id="6" class="number">6</li>
        <li id="5" class="number">5</li>
        <li id="4" class="number">4</li>
        <li id="3" class="number">3</li>
        <li id="2" class="number">2</li>
        <li id="1" class="number">1</li>
        <li id="m" class="number">M</li>
      </ul>
      <button onClick="ban_add_score()">決定</button>
    </div>
    <!-- //IME部分 --> 
  </div>
  <!-- //main --> 
  
  <!-- footer -->
  <div id="footer" data-role="footer" data-theme="a" style="text-align:center;">
    <p>Copyright 2015 IRC. All Rights Reserved.</p>
  </div>
  <!-- //footer --> 
</div>
<!-- //ページ領域 -->
</body>
</html>