<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Archery</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components/fontawesome/css/font-awesome.min.css"> 
</head>
<body id="body">
    <header id="topBar" class="navbar navbar-fixed-top">
        <div class="container">
                <a href="/"><div class="backButton"><i class="fa fa-arrow-left"></i></div></a>
                <h1>アカウント作成</h1>
                <div class="dropdown navButtonArea">
                    <div id="navButton" class="navButton pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></div>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navButton">
                        <li><a href="/login">ログイン</a></li>
                    </ul>
            </div>
        </div>
    </header>

    <main class="container col-sm-offset-2 col-sm-8" role='main'>

        <form class="form-horizontal" id="sendForm" action="/createAccount" method="POST">

            <div class="form-group">
                <label class="control-label col-sm-2" for="lastName">姓</label>
                <div class="col-sm-8">
                   <input id="lastName" class="form-control" name="lastName" type="text" placeholder="lastName">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="firstName">名</label>
                <div class="col-sm-8">
                   <input id="firstName" class="form-control" name="firstName" type="text" placeholder="firstName">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="rubyFirstName">せい(ふりがな)</label>
                <div class="col-sm-8">
                   <input id="rubyFirstName" class="form-control" name="rubyFirstName" type="text" placeholder="rubyFirstName">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="rubyLastName">めい(ふりがな)</label>
                <div class="col-sm-8">
                   <input id="rubyLastName" class="form-control" name="rubyLastName" type="text" placeholder="rubyLastName">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Eメールアドレス(ログイン名として使用します)</label>
                <div class="col-sm-8">
                <input id="email" class="form-control" name="email" type="email" placeholder="example@email.com">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="password">パスワード</label>
                <div class="col-sm-8">
                   <input id="passowrd" class="form-control" type="password" name="password" placeholder="password">
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-sm-2" for="birth">生年月日</label>
                <div class="col-sm-8">
                    <input id="birth" class="form-control" name="birth" type="date" placeholder="1990/01/01">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="sex">性別</label>
                <div class="col-sm-8">
                    <select id="sex" name="sex" class="form-control">
                        <option value="9">未設定</option>
                        <option value="0">男性</option>
                        <option value="1">女性</option>
                        <option value="8">その他</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                   <input type="submit" id="send" class="btn blue" value="新規作成">
                </div>
            </div>
        </form>
    </main>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/common.js"></script>
</body>
</html>
