<!DOCTYPE html>

<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Archery</title>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content=
	"user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
	<link href="/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="topBar">
		<p class="container col-sm-offset-2 col-sm-8">
            <span>Logged in </span>
            <a href="/logout" style= "float: right; di
            splay: block;">Logout</a>
        </p>
	</div>

	<div class="container col-sm-offset-2 col-sm-8">
		<h1>Archery-Web-Client</h1>

		<h2>extractMatchIndex</h2>
		<table id="matchIndexArea" class="table table-bordered"></table>

		<h2>extractScoreCardIndex</h2>
		<div>
			<p>Input Match ID</p>
			<div class="form-inline">
				<input class="form-control" type="text" id="matchNumber">
				<input class="btn btn-primary" type="button" onclick="extractScoreCardIndex()" value="Emit">
			</div>
		</div>
		<table id="scoreCardIndexArea" class="table table-bordered"></table>

		<h2>insertMatch</h2>
		<div class="form-inline">
			<label for="scoreCardIndexp_id">作成者ID(p_id) : </label>
			<input class="form-control" type="number" id="scoreCardIndexp_id">
		</div>

		<div class="form-inline">
			<label for="matchName">試合名(matchName) : </label>
			<input class="form-control" type="text" id="matchName">
		</div>

		<div class="form-inline">
			<label for="sponsor">主催(sponsor) : </label>
			<input class="form-control" type="text" id="sponsor">
		</div>

		<div class="form-inline">
			<label for="arrows">射数(arrows) : </label>
			<input class="form-control" type="number" id="arrows">
		</div>

		<div class="form-inline">
			<label for="scoreCardIndexperEnd">セット数(perEnd) : </label>
			<input class="form-control" type="number" id="scoreCardIndexperEnd">
		</div>

		<div class="form-inline">
			<label for="length">距離(length) : </label>
			<input class="form-control" type="number" id="length">
		</div>

		<div class="form-inline">
			<input class="btn btn-primary" type="button" onclick="insertMatch()" value="Emit">
		</div>

		<h2>insertScoreCard</h2>
		<div class="form-inline">
			<label for="insertScoreCardm_id">試合ID(m_id) : </label>
			<input class="form-control" type="number" id="insertScoreCardm_id">
		</div>	
		<div class="form-inline">
			<label for="email">Email : </label>
			<input class="form-control" type="email" id="email">
		</div>	
		<div class="form-inline">
			<label for="password">Password : </label>
			<input class="form-control" type="password" id="password">
		</div>	
		<div class="form-inline">
			<input type="submit" class="btn btn-primary" value="Emit" onclick="insertScoreCard">
		</div>

		<h2>insertScore</h2>
		<div class="form-inline">
			<label for="insertScoresc_id">得点表ID(sc_id)</label>
			<input type="number" class="form-control" id="insertScoresc_id">	
		</div>
		<div class="form-inline">
			<label for="insertScorep_id">作成者ID(p_id)</label>
			<input type="number" class="form-control" id="insertScorep_id">	
		</div>
		<div class="form-inline">
			<label for="insertScoreperEnd">セット(perEnd)</label>
			<input type="number" class="form-control" id="insertScoreperEnd">	
		</div>
		<div class="form-inline">
			<label for="score_1">1射目の得点(score_1)</label>
			<input type="number" class="form-control" id="score_1">	
		</div>
		<div class="form-inline">
			<label for="score_2">2射目の得点(score_2)</label>
			<input type="number" class="form-control" id="score_2">	
		</div>
		<div class="form-inline">
			<label for="score_3">3射目の得点(score_3)</label>
			<input type="number" class="form-control" id="score_3">	
		</div>
		<div class="form-inline">
			<label for="score_4">4射目の得点(score_4)</label>
			<input type="number" class="form-control" id="score_4">	
		</div>
		<div class="form-inline">
			<label for="score_5">5射目の得点(score_5)</label>
			<input type="number" class="form-control" id="score_5">	
		</div>
		<div class="form-inline">
			<label for="score_6">6射目の得点(score_6)</label>
			<input type="number" class="form-control" id="score_6">	
		</div>
		<div class="form-inline">
			<label for="subTotal">小計(subTotal)</label>
			<input type="number" class="form-control" id="subTotal">	
		</div>
		<div class="form-inline">
			<label for="ten">10数(ten)</label>
			<input type="number" class="form-control" id="ten">	
		</div>
		<div class="form-inline">
			<label for="x">x数(x)</label>
			<input type="number" class="form-control" id="x">	
		</div>
		<div class="form-inline">
			<label for="total">合計(total)</label>
			<input type="number" class="form-control" id="total">	
		</div>
		<div class="form-inline">
			<input type="submit" class="btn btn-primary" value="Emit" onclick="insertScore()">
		</div>
	</div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/roomIndex.js"></script>
</body>
</html>
