<!DOCTYPE html>

<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Archery</title>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content=
	"user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
	<link href="/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="topBar">
		<p class="container col-sm-offset-2 col-sm-8">
            <span>Logged in </span>
            <a href="/logout" style= "float: right; di
            splay: block;">Logout</a>
        </p>
	</div>

	<div class="container col-sm-offset-2 col-sm-8">
		<h1>Archery-Web-Client</h1>

		<h2>extractMatchIndex</h2>
		<table id="matchIndexArea" class="table table-bordered"></table>

		<h2>extractScoreCardIndex</h2>
		<div>
			<p>Input Match ID</p>
			<div class="form-inline">
				<input class="form-control" type="text" id="matchNumber">
				<input class="btn btn-primary" type="button" onclick="extractScoreCardIndex()" value="Emit">
			</div>
		</div>
		<table id="scoreCardIndexArea" class="table table-bordered"></table>

		<h2>insertMatch</h2>
		<div class="form-inline">
			<label for="p_id">作成者ID(p_id) : </label>
			<input class="form-control" type="number" id="p_id">
		</div>

		<div class="form-inline">
			<label for="matchName">試合名(matchName) : </label>
			<input class="form-control" type="text" id="matchName">
		</div>

		<div class="form-inline">
			<label for="sponsor">主催(sponsor) : </label>
			<input class="form-control" type="text" id="sponsor">
		</div>

		<div class="form-inline">
			<label for="arrows">射数(arrows) : </label>
			<input class="form-control" type="number" id="arrows">
		</div>

		<div class="form-inline">
			<label for="perEnd">セット数(perEnd) : </label>
			<input class="form-control" type="number" id="perEnd">
		</div>

		<div class="form-inline">
			<label for="length">距離(length) : </label>
			<input class="form-control" type="number" id="length">
		</div>

		<div class="form-inline">
			<input class="btn btn-primary" type="button" onclick="insertMatch()" value="Emit">
		</div>

	</div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/roomIndex.js"></script>
</body>
</html>
