<!DOCTYPE html>

<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Archery</title>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content=
	"user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
	<link href="/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="topBar">
		<p class="container col-sm-offset-2 col-sm-8">
            <span>Logged in sitenai </span>
            <a href="/logout" style= "float: right; di
            splay: block;">Logout</a>
        </p>
	</div>

	<div class="container col-sm-offset-2 col-sm-8">
		<h1>Chat System</h1>
		<div id="tableArea">
		</div>
		<div>
			<p>Input Score Card Number</p>
			<input type="text" id="socreCardNumber">
			<input type="button" onclick="getScoreCard()" value="send">
		</div>
	</div>


    <script src="/javascripts/jquery.min.js"></script>
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/roomIndex.js"></script>
</body>
</html>
