<!DOCTYPE html>

<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Archery</title>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content=
	"user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
	<link href="/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="topBar">
        <p class="container col-sm-offset-2 col-sm-4"><a href="/createAccount">アカウント作成</a></p>
        <p class="container col-sm-offset-2 col-sm-4"><a href="/login">ログイン</a></p>
    </div>

	<div class="container col-sm-offset-2 col-sm-8">
		<h1><a href="/">Archery-Web-Client</a></h1>

		<h2>insertScoreCard for emit</h2>
		<div class="form-inline">
			<label for="email">Email : </label>
			<input class="form-control" type="email" id="email">
		</div>	
		<div class="form-inline">
			<label for="password">Password : </label>
			<input class="form-control" type="password" id="password">
		</div>	
		<div class="form-inline">
			<input type="submit" class="btn btn-primary" value="Emit" onclick="insertScoreCard()">
		</div>

		<h2>insertScoreCard for on</h2>
		<div id="insertScoreCardArea"></div>

	</div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/functions.js"></script>
    <script src="/javascripts/insertScoreCard.js"></script>
</body>
</html>
