<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Archery</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components/fontawesome/css/font-awesome.min.css"> 
</head>
<body id="body">
    <header id="topBar" class="navbar navbar-fixed-top" role="banner">
        <div class="container">
                <h1>ログイン</h1>
                <div class="dropdown navButtonArea">
                    <div id="navButton" class="navButton pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></div>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navButton">
                        <li><a href="/login">ログイン</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/createAccount">アカウント作成</a></li>
                    </ul>
            </div>
        </div>
    </header>
    <main class="container col-sm-offset-2 col-sm-8" role='main'>

        <div class="mainVisual">
            <img src="/images/logo.svg" alt="Archery realtime game system"> 
        </div>

        <form id="sendForm" class="mb" action="/login" method="POST">
            <div class="form-group">
                <label class="control-label" for="email">ログイン名(Eメールアドレス)</label>
            	<input id="email" class="form-control" name="email" type="email" placeholder="example@email.com">
            </div>

            <div class="form-group">
                <label class="control-label" for="password">パスワード</label>
                <input id="passowrd" class="form-control" type="password" name="password"  placeholder="password" aria-describedby="inputError2Status">
            </div>
                
            <div class="form-group">
           	   <button type="submit" id="send" class="btn blue">ログイン</button>
            </div>
        </form>

        <div class="form-group">
               <a class="btn orange pull-right" href="/download.html">Android用アプリのダウンロードページヘ</a>
        </div>
    </main>

    <footer role="contentinfo container">
     <p>宮城県工業高等学校 情報研究部<br>プロジェクトチームArgs</p>
    </footer>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/common.js"></script>
</body>
</html>
