<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Archery</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components/fontawesome/css/font-awesome.min.css"> 
</head> 
<body id="body">
    <div class="modal fade" id="memberModal" role="dialog" aria-labelledby="modal-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-title"><strong class="text-danger">メンバーの削除</strong></h4>
                </div>

                <div class="modal-body">
                    <p><strong class="text-danger">本当にこのユーザーを削除しますか?</strong></p>
                    <p>※ 団体からは削除されますが、アカウント自体が削除されることはありません。</p>
                    <dl class="dl-horizontal">
                        <dt>選手名</dt>
                        <dd class="modal-playerName"></dd>
                        <dt>生年月日</dt>
                        <dd class="modal-birth"></dd>
                        <dt>Eメール</dt>
                        <dd class="modal-email"></dd>
                    </dl>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                    <a href="#"><button type="button" class="btn btn-danger deleteAccount" data-dismiss="modal">削除</button></a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <header id="topBar" class="navbar navbar-fixed-top">
        <div class="container">
                <a href="/organization"><div class="backButton"><i class="fa fa-arrow-left"></i></div></a>
                <h1>メンバー管理</h1>
                <div class="dropdown navButtonArea">
                    <div id="navButton" class="navButton pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></div>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navButton">
                        <li><a href="/personal">マイページ</a></li>
                        <li><a href="/organization">団体ページ</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/matchIndex">試合一覧</a></li>
                        <li><a href="/insertMatch">試合作成</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="memberAdmin creater"><a href="/organization/members">メンバー管理</a></li>
                        <li role="separator" class="divider creater"></li>
                        <li><a href="/logout">ログアウト</a></li>
                    </ul>
            </div>
        </div>
    </header>
    <main class="container common organization" role='main'>

    <section class="panel">
        <h2 class="panel-heading"><i class="fa fa-plus-circle"></i> メンバー追加</h2>
        <div class="panel-body">
            <p class="bottom">下のフォームより、追加したいユーザーのログイン名(Eメールアドレス)とパスワードを入力することによって、そのユーザーを団体に追加することができます。</p>
            <div class="form-group">
                <label class="control-label" for="email">ログイン名(Eメールアドレス)</label>
                <input id="email" class="form-control" name="email" type="email" placeholder="example@email.com">
            </div>

            <div class="form-group">
                <label class="control-label" for="password">パスワード</label>
                <input id="password" class="form-control" type="password" name="password"  placeholder="password" aria-describedby="inputError2Status">
            </div>

            <div class="form-group">
                <button class="btn blue addMember">メンバーを追加する</button>
            </div>

            <div class="infoArea">
            </div>
            <!--button class="btn blue openModal" data-toggle="modal" data-target="#loginModal">メンバーを追加する</button-->
        </div>
    </section>

    <section class="panel">
        <h2 class="panel-heading warning"><i class="fa fa-times-circle"></i> メンバーの削除</h2>
        <div class="panel-body">
            <p>削除したいメンバーを下のリストよりタップしてください。</p>
            <div class="table-responsive">
                <table id="memberListArea" class="table table-bordered">
                </table>
            </div>
            <div class="infoArea2">
            </div>
        </div>
    </section>

    </main>

    <footer>
        <p><small>Copyright 2015 IRC. All Rights Reserved.</small></p>
    </footer>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/common.js"></script>
    <script src="/javascripts/memberAdmin.js"></script>
</body>
</html>
