<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Archery</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components/fontawesome/css/font-awesome.min.css"> 
</head>
<body id="body">
    <header id="topBar" class="navbar navbar-fixed-top">
        <div class="container">
                <a href="/personal"><div class="backButton"><i class="fa fa-arrow-left"></i></div></a>
                <h1>団体ページ</h1>
                <div class="dropdown navButtonArea">
                    <div id="navButton" class="navButton pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></div>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navButton">
                        <li><a href="/logout">ログアウト</a></li>
                    </ul>
            </div>
        </div>
    </header>
    <main class="container common organization" role='main'>

    <section class="panel">
        <h2 class="panel-heading"><i class="fa fa-user"></i> 団体情報</h2>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>団体名</dt><dd class="organizationName"></dd>
                <dt>代表者名</dt><dd class="admin"></dd>
                <dt>Eメール</dt><dd class="email"></dd>
                <dt>団体作成日</dt><dd class="establish"></dd>
                <dt>メンバー数</dt><dd class="members"></dd>
            </dl>
        </div>
    </section>

    </main>

    <footer>
        <p><small>Copyright 2015 IRC. All Rights Reserved.</small></p>
    </footer>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/common.js"></script>
    <script src="/javascripts/organization.js"></script>
</body>
</html>
