<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Archery</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components/fontawesome/css/font-awesome.min.css"> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link type="text/css" rel="stylesheet" href="/stylesheets/scoreCard.css"/>
</head>

<body id="body">

    <header id="topBar" class="navbar navbar-fixed-top">
        <div class="container">
            <a href="/matchIndex"><div class="backButton"><i class="fa fa-arrow-left"></i></div></a>
            <h1>得点表</h1>
            <div class="dropdown navButtonArea">
                <div id="navButton" class="navButton pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></div>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navButton dropdownMenu3">
                    <li><a href="/personal">マイページ</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/matchIndex">試合一覧</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" class="insertScoreCardLink">得点表作成</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout">ログアウト</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main class="container common" role='main'>

        <div class="scoreCardInfo">
            <div class="row bottom">
                <div class="col-xs-6"><input type="text" class="form-control" value="練習試合" disabled></div>
                <div class="col-xs-6"><input type="text" class="form-control" value="2015/05/05" disabled></div>
            </div>

            <div class="row bottom">
                <div class="col-xs-6"><input type="text" class="form-control" placeholder="ゼッケン番号"></div>
                <div class="col-xs-6"><input type="text" class="form-control" value="渡辺大貴" disabled></div>
            </div>

            <div class="row bottom">
                <div class="col-xs-6"><input type="text" class="form-control" value="情報研究部" disabled></div>
                <div class="col-xs-6"><input type="text" class="form-control" placeholder="都道府県"></div>
            </div>
        </div>

        <div class="scoreCardTotals container bottom">

            <div class="subTotalHeader row border">
                <div class="col-xs-2">1回目</div>
                <div class="col-xs-2">2回目</div>
                <div class="col-xs-2">3回目</div>
                <div class="col-xs-2">4回目</div>
                <div class="col-xs-2">5回目</div>
                <div class="col-xs-2">6回目</div>
            </div>

            <div class="row border">
                <div class="col-xs-2">2</div>
                <div class="col-xs-2">3</div>
                <div class="col-xs-2">4</div>
                <div class="col-xs-2">5</div>
                <div class="col-xs-2">6</div>
                <div class="col-xs-2">x</div>
            </div>

            <div class="row border">
                <div class="col-xs-2">2</div>
                <div class="col-xs-2">3</div>
                <div class="col-xs-2">3</div>
                <div class="col-xs-6">ふぁふぁふぁ</div>
            </div>
        </div>

        <div class="scoreCardBody container">
            <div class="row border">
                <div class="col-xs-10">90m</div>
                <div class="col-xs-2">小計</div>
            </div>

            <div class="row border">
                <div class="col-xs-2">ゼッケン</div>
                <div class="col-xs-8">
                    <div class="row">
                        <div class="col-xs-2">2</div>
                        <div class="col-xs-2">2</div>
                        <div class="col-xs-2">3</div>
                        <div class="col-xs-2">x</div>
                        <div class="col-xs-2">x</div>
                        <div class="col-xs-2">x</div>
                    </div>
                </div>
                <div class="col-xs-2">10</div>
            </div>
        </div>

    </main>

    <footer>
        <p><small>Copyright 2015 IRC. All Rights Reserved.</small></p>
    </footer>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/common.js"></script>
    <script src="/javascripts/functions.js"></script> 
    <script src="/socket.io/socket.io.js"></script>
    <!--script type="text/javascript" src="/javascripts/scoreCard.js"></script-->
    <!--script type="text/javascript" src="/components/jquery.mobile-1.4.5.min.js"></script-->
</body>
</html>
