<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Archery</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components/fontawesome/css/font-awesome.min.css"> 
</head>

<body id="body">

    <header id="topBar" class="navbar navbar-fixed-top">
        <div class="container">
            <a href="/matchIndex"><div class="backButton"><i class="fa fa-arrow-left"></i></div></a>
            <h1>得点表一覧</h1>
            <div class="dropdown navButtonArea">
                <div id="navButton" class="navButton pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></div>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navButton dropdownMenu3">
                    <li><a href="/personal">マイページ</a></li>
                    <li><a href="/organization">団体ページ</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/matchIndex">試合一覧</a></li>
                    <li><a href="/insertMatch">試合作成</a></li>
                    <li class="closeMatch"><a href="#">試合終了</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" class="scoreCardIndexLink">得点表一覧</a></li>
                    <li><a href="#" class="insertScoreCardLink">得点表作成</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout">ログアウト</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main class="container common" role='main'>
        <section class="panel">
            <h2 class="panel-heading"><i class="fa fa-list"></i> 得点表一覧</h2>
            <div class="panel-body">

            <table id="scoreCardIndexArea" class="table table-bordered">
                <tr><th>選手名</th><th>セット</th><th>得点</th></tr>
            </table>

            <div class="infoArea">
            </div>
            
            </div>
        </section>
    </main>

    <footer>
        <p><small>Copyright 2015 IRC. All Rights Reserved.</small></p>
    </footer>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/common.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/scoreCardIndex.js"></script>
</body>
</html>
