@chatset "UTF-8";

.border div, .border_once{
	border: 1px solid #aaa;
}

.bottom div, .bottom_once{
	margin-bottom: 20px;
}

.border-top{
	border-top: 1px solid #aaa;	
}

.border-left{
	border-left: 1px solid #aaa;	
}

.border-right{
	border-right: 1px solid #aaa;	
}

.border-bottom{
	border-bottom: 1px solid #aaa;	
}

.left-border div:first-child{
	border-left: 1px solid #aaa;
}

.harf{
	font-size: 0.5em;
}

.x-75{
	font-size: 0.75em;
}

.left{
	float: left;
}

.right {
	float: right;
}

/* class like bootstrap */

.rows {
	width: 100%;
}

.col-fn-3 {
	width: 25%;
	float: left;
}

.col-fn-4{
	width: 33.3333%;
	float: left;
}

.col-fn-5{
	width: 41.6667%;
	float: left;
}

.col-fn-6 {
	width: 50%;
	float:left;
}

.col-fn-8 {
	width: 66.6667%;;
	float: left;
}

.col-fn-10 {
	width: 83.3333%;
	float:left;
}

.col-fn-2{
	width: 16.6667%;
	float:left;
}

.scoreCardInfo input {
	width: 95%;
}

/* style */


.scoreCardTotals, .scoreCardBody {
	text-align: center;
}

.subTotalBody div, .totalBody div{
	height: 40px;
	line-height: 40px;
	background: white;
}

.totalHeader div{
	height: 30px;
	line-height: 30px;
}

.subTotalHeader div, .totalHeader div, .subTotalBody div, .totalBody div, .score div, .updatedScore div, .scoreTotalHeader, .scoreTotal, .updatedScoreTotal, .number {
	background: white;
}

.scoreRowsInfo {
	text-align: left;
}

.score div, .updatedScore div, .scoreTotal, .updatedScoreTotal, .number{
	height: 50px;
	line-height: 50px;
}

.scoreCardBody .perEnd{
	margin-bottom: 20px;
}

.ime {
	display: none;
	width: 100%;
	height: 130px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: white;
	text-align: center;
	position: fixed;
	bottom: 0;
}

.ime .rows{
	height: 40px;
}

#body main .ime .rows div.col-fn-3 div.btn{
	height: 35px;
	line-height: 35px;
	width: 90%;
	margin: 0;
	padding: 0;
}

#body .comp:hover{
	cursor: pointer;
	background: #ddd;
}

#body .updated{
	border: 1px solid #FF8A65;
}

.through {
	text-decoration: line-through;
}