@chatset "UTF-8";

/* load web font roboto*/
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

/* load web font NotoSans */
@font-face {
  font-family: "NotoSans";
  src: url('/fonts/NotoSansCJKjp-Light.eot');
  src: url('/fonts/NotoSansCJKjp-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/NotoSansCJKjp-Light.woff') format('woff'),
       url('/fonts/NotoSansCJKjp-Light.ttf')  format('truetype');
}

/* common */

* {
  margin: 0;
  padding: 0;
}

#body {
  font-family: 'Roboto', Roboto, 'NotoSans', NotoSans, sans-serif;
  color: #444;
  padding-top: 50px;
  background: #ecf0f1;
  font-size: 18px;
}

a {
  color: #00B7FF;
}

.mb {
  margin-bottom: 60px;
}

header#topBar{
    width:  100%;
    height: 55px;
    color: white;
    background: #3F51B5;
    box-shadow: 0px 1px 10px #666;
}

header#topBar .backButton {
  float: left;
  line-height: 55px;
  font-size: 24px;
  margin: 0;
  margin-right: 10px;
  color: white;
  border-radius: 20px;
}

header#topBar h1{
  width: 170px;
  height: 100%; 
  font-size: 26px;
  line-height: 55px;
  margin: 0;
  margin-left:10px;
  float: left;
}

header#topBar h1.smallerFont {
  font-size: 24px;
}

header#topBar h1.smallFont {
  font-size: 20px;
}

header#topBar .navButtonArea{
  width: 30px;
  height: 100%;
  text-align: center;
  float: right;
  font-weight: bold;
}

header#topBar div.navButton {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  font-size: 30px;
  line-height: 55px;
  text-align: center;
}

header#topBar div.navButton:hover , header#topBar .backButton:hover{
  background-color: #5C6BC0;
  cursor: pointer;
}

header#topBar div.navButtonArea ul li{
  color: #444;
  padding : 5px;
  font-size: 1.1em;
}

header#topBar div.navButtonArea ul li.divider {
  padding: 0;
}

.modal-dialog{
  padding-top: 10%;
}

main {
  margin-top: 30px;
  margin-bottom: 90px;
}

footer {
  width: 100%;
}

footer p{
  width: 100%;
  clear: both;
  text-align: center;
  margin-bottom: 20px;
}

tr:hover{
  background: #eee;
  cursor: pointer;
}

/* forms */

#body main button, #send{
  width: 100%;
  margin-top: 30px;
}

.blue {
  background-color: #2196F3;
  color: white;
}

.deepOrange{
  background: #FF5722;
  color: white;
}

.orange {
  background: #FF9800;
  color: white;
}

.cyan {
  background: #00BCD4;
  color: white;
}

.err {
  display: none;
}

button.blue, input.blue {
  transition: all .3s ease;
  border: 2px solid #2196F3;
}

button.blue:hover, input.blue:hover {
  background: #ecf0f1;
  color: #2196F3;
}

/* personal page */

main.common section{
  box-shadow: 0px 1px 5px #ddd;
}

main.common h2{
  font-size: 22px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  background: #009688;
}

main.common h3{
  font-size: 20px;
  padding-bottom: 10px;
}

main.common h2 i{
  margin-right: 5px;
}

main.common dl dt{
  padding-bottom: 5px;
}

main.common dl dd {
  padding-left: 5px;
  padding-bottom: 10px;
}

main.common .thumbnail p{
  font-size: 15px;
}

main.common .thumbnail img{
  width: 70%;
  max-width: 200px;
}

main.common .thumbnail h3, main.common .thumbnail p {
  max-width: 200px;
  margin: 0 auto;
}

main.common canvas {
  display: block;
  width: 95%;
  margin: 0 auto;
  min-height: 300px;
}

main.common .resultsArea h3{
  margin:0;
}

main.common .resultsArea .infoArea, main.common .resultsArea .infoArea2{
  width: 90%;
  margin: 0 auto; 
}

/* login.ejs */
.mainVisual {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.mainVisual img{ 
  width: 100%;
  max-width: 450px;
  text-align: center;
  margin: 0 auto;
}

/* persoanl.ejs */
.resultsArea table{
  width: 95%;
  margin: 0 auto;
}

.chartArea {
  margin-top: 30px;
  margin-bottom: 30px;
}

.resultsArea .btn-record{
  display: block;
  width: 90%;
  margin: 0 auto 30px;
}

/* memberAdmin page */
main.common .warning{
  background: #FF5722; 
}

.bottom {
  margin-bottom: 20px;
}

#body .table-responsive {
  border-top: 0; 
}

.addCircleArea {
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: all .3s ease;
}

.addCircleArea img{
  width: 100%;
  height: 100%;
}

.addCircleArea:hover {
  transform: scale(1.1);
}

/* download page */

.dp h2, .dp p {
  text-align: center;
}

.dp h2 {
  margin-bottom: 30px;
}

.dp a.btn {
  width: 100%;
  text-align: center;
  font-weight: bold;
  line-height: 2;
  margin: 60px 0;
  font-size: 1em;
}

.dp ol, .dp ul{
  list-style: none;
}

.howtoinstall {
  width: 100%;
  margin-bottom: 120px;
}

.howtoinstall .icon{
  width: 190px;
  margin: 0 auto 20px;
  text-align: center;
}

.howtoinstall .icon img{
  width: 100%;
}

.howtoinstall h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.howtoinstall li{
  line-height: 2;
  margin: 0 auto;
}

.howtoinstall ol li.col-sm-4 {
  margin-bottom: 60px;  
}

.howtoinstall ol li ul li{
  width: 90%;
}

.version p{
  text-align: right;
}